.attachment{
    background-image: url("../images/accessory.png")!important;
}
.activity{
    background-image: url("../images/activity.png")!important;
}
.add_fill{
    background-image: url("../images/addition_fill.png")!important;
}
.delete_fill{
    background-image: url("../images/delete_fill.png")!important;
}
.delete_fill_16{
    background-image: url("../images/delete-fill_16.png")!important;
}
.eit{
    background-image: url("../images/eit.png")!important;
}
.fullsreen{
    background-image: url("../images/fullscreen.png")!important;
}
.narrow{
    background-image: url("../images/narrow.png")!important;
}
.refresh{
    background-image: url("../images/refresh.png")!important;
}
.send{
    background-image: url("../images/send.png")!important;
}
.undo{
    background-image: url("../images/undo.png")!important;
}
.feedback_fill{
    background-image: url("../images/feedback_fill.png")!important;
}
.label{
    background-image: url("../images/label.png")!important;
}
.offline_fill{
    background-image: url("../images/offline_fill.png")!important;
}
.adobe_read{
    background-image: url("../images/adoberead.png")!important;
}